@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  @apply bg-gray-900;
}

html.dark {
  color-scheme: dark;
}

/* Forcer le mode sombre par défaut */
html {
  @apply dark:bg-gray-900;
}

@media (prefers-color-scheme: dark) {
  html {
    @apply bg-gray-900;
  }
}

body {
  @apply bg-gray-900 text-gray-100 min-h-screen;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Scrollbar customization */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

/* Custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 